################################################################################
# この .gitignore ファイルは Microsoft(R) Visual Studio によって自動的に作成されました。
################################################################################

/Mp4H265Util/bin/Debug/net10.0
/Mp4H265Util/obj
*.mp4
/.vs